.articulo--principal{
    max-width: 660px;
    margin: 0 auto;
    &__intro{
        @include font-size(18px);
    }
    h2{
        margin: 40px 0;
        @include font-size(50px);
        text-align: center;
        color: $color-secundario;
        font-family: $fuente2;
    }
    h3{ 
        font-family: $fuente2;
        color: $color-secundario;
        text-transform: uppercase;
        font-weight: bold;
    }
}