.contenedor--cajas {
  display: flex;
  justify-content: space-evenly;
}
.card {
  width: 22rem;
  margin: 10px;
  border-radius: 10px;
  @include box();
  &-img-top {
    border-radius: 10px 10px 0 0;
  }
  &-body {
    padding: 20px;
    h3 {
      color: $color-secundario;
      font-weight: bold;
      @include titulos($fuente2);
      @include font-size(18px);
    }
    p {
      color: get-opacity($color-primario, 0.7);
      font-family: $fuente1;
      @include font-size(18px);
    }
  }
  .btn {
    margin: 0;
    padding: 0;
    font-family: $fuente2;
    color: $color-terciario;
    @include font-size(18px);
    &:hover {
      text-decoration: underline;
    }
  }
}
